<?xml version ="1.0" encoding="utf-8" ?>
<!--
Please note: to use healthcheck notifications you must ensure to set the umbracoApplicationUrl value
in umbracoSettings.config.  For more information on this setting, please see:
https://our.umbraco.com/documentation/reference/config/umbracosettings/#web-routing

For details on the format of this configuration file see:
https://our.umbraco.com/documentation/reference/config/healthchecks
-->
<HealthChecks>
  <disabledChecks>
    <!--uSync ExportOnSave-->
    <!--<check id="8D6CF96E-F1B9-45CA-B5B6-FFF75930DF88" disabledOn="" disabledBy="0" />-->
  </disabledChecks>
  <notificationSettings enabled="true" firstRunTime="" periodInHours="24">
    <notificationMethods>
      <notificationMethod alias="email" enabled="true" verbosity="Summary">
        <settings>
          <add key="recipientEmail" value="" />
        </settings>
      </notificationMethod>
    </notificationMethods>
    <disabledChecks>
    </disabledChecks>    
  </notificationSettings>
</HealthChecks> 